= form_with(model: [:admin, product], class: "contents") do |form|
  - if product.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.each do |error|
          %li= error.full_message
  .my-5
    = form.label :name
    = form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :description
    = form.text_field :description, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :price
    = form.text_field :price, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :category_id
    = form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category.", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :created_by_id
    = form.text_field :created_by_id, value: current_user.id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-gray-500",disabled: true
  .my-5
    = form.label :product_image
    = form.file_field :product_image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :product_variants
    = form.file_field :product_variants, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium cursor-pointer"
