%div{id: "product-#{product.id}", onclick: "window.location.href='#{product_path(product)}';"}
    %p
        %strong Name:
        = product.name
    %p
        %strong Price:
        = product.price
        
    - if product.product_image.attached?
        = image_tag(product.image_webp,width:300,height:300)  

    